<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
 
      <view
            name="Weighted Word Count"
            class="edu.usc.cssl.tacit.wordcount.weighted.ui.WeightedWordCountView"
            id="edu.usc.cssl.tacit.wordcount.weighted.ui.view1">
      </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:wordcount">
             <command
                   commandId="usc.edu.cssl.wordcount.weighted.view.command1"
                   label="LIWC-Style Word Count"
                   tooltip="LIWC-Style Word Count - Standard/Weighted ">
            </command>
      </menuContribution>
   </extension>
 <extension
         id="wordcount.weighted"
         point="org.eclipse.ui.commands">
      <command
            id="usc.edu.cssl.wordcount.weighted.view.command1"
            name="Weighted Word Count">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.wordcount.weighted.ui.handlers.OpenWeightedWordCountViewHandler"
            commandId="usc.edu.cssl.wordcount.weighted.view.command1">
      </handler>
   </extension>
   

</plugin>
