<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
 
      <view
            class="edu.usc.cssl.tacit.cluster.hierarchical.ui.HierarchicalClusterView"
            icon="icons/HeirarchicalClusteringIcon.png"
            id="edu.usc.cssl.tacit.cluster.hierarchical.ui.view1"
            name="Hierarchical Cluster">
      </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:cluster">
             <command
                   commandId="edu.usc.cssl.tacit.cluster.hierarchical.ui.view1"
                   icon="icons/HeirarchicalClusteringIcon.png"
                   label="Hierarchical Cluster"
                   tooltip="Hierarchical Cluster">
            </command>
      </menuContribution>
   </extension>
 <extension
         id="cluster.heirarchial"
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.cluster.hierarchical.ui.view1"
            name="Hierarchical Cluster View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.cluster.hierarchical.ui.handlers.OpenHierarchicalClusterViewHandler"
            commandId="edu.usc.cssl.tacit.cluster.hierarchical.ui.view1">
      </handler>
   </extension>
   

</plugin>
