.contents {
	size:20px;	
}
.header {
	font-size:30px;
	font-weight: bold;
}
.head {
	font-size:20px;
	font-weight: bold;				
}
.help-contents {
}
.subtitle {
	font-size: 17px;
	font-weight: bold;
}
.section {
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
td {
	padding-bottom: 1em;
}
.image {
	display: block;
	margin-left: auto;
	margin-right: auto; 				
}