<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="USC NLPUtils"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/edu.usc.pil.nlputils.application/css/default.css">
         </property>
         <property
               name="appName"
               value="edu.usc.pil.nlputils.application">
         </property>
         <property
          name="windowImages" 
          value="icons/Main32x32.gif"/>
      </product>
   </extension>

</plugin>
