<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="edu.usc.cssl.nlputils.repository.Perspective"
             id="edu.usc.cssl.nlputils.repository.perspective"
             name="NLPUtils">
       </perspective>
    </extension>
     <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="edu.usc.cssl.nlputils.repository.application"
             name="NLPUtils">
          <property
                name="appName"
                value="NLPUtils">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
          <property
                name="windowImages"
                value="icons/Main32x32.gif">
          </property>
          <property
                name="startupForegroundColor"
                value="000000">
          </property>
          <property
                name="startupMessageRect"
                value="7,252,445,20">
          </property>
          <property
                name="startupProgressRect"
                value="5,275,445,15">
          </property>
       </product>
    </extension>
 <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.usc.cssl.nlputils.repository.Application">
         </run>
      </application>
   </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="edu.usc.cssl.nlputils.repository.perspective">
       <view
             id="edu.usc.cssl.nlputils.crawlers.supremecourt.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.nlputils.crawlers.latin.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.nlputils.wordcount.weighted.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.nlputils.cluster.hierarchical.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.nlputils.common.ui.preprocess.view"
             minimized="false"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
        <view
             id="edu.usc.cssl.nlputils.cluster.kmeansui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
        <view
              id="edu.usc.cssl.nlputils.classify.naivebayes.ui.naivebayesview"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.nlputils.classify.svm.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.nlputils.topicmodel.zlda.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.nlputils.topicmodel.lda.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.nlputils.wordcount.standard.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        
         <view
              id="edu.usc.cssl.nlputils.wordcount.cooccurrence.ui.view1" minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
         <view
               id="edu.usc.cssl.nlputils.crawlers.senate.ui.senatecrawlerview"
               minimized="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
    </perspectiveExtension>
 </extension>
</plugin>
