<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- intro -->
 <extension point="org.eclipse.ui.intro">
	<introProductBinding
		 introId="org.eclipse.ui.intro.universal"
		 productId="edu.usc.cssl.tacit.repository.product">
	</introProductBinding>
</extension>
<extension point="org.eclipse.ui.intro.configExtension">
 	<configExtension
		configId="org.eclipse.ui.intro.universalConfig"
		content="intro/tacit-intro.xml" />
</extension>
   <!-- Main menu -->
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="crawl"
               label="Crawling"
               mnemonic="C"
               tooltip="Crawling">
         </menu>
         <menu
               id="wordcount"
               label="Word Count"
               mnemonic="W"
               tooltip="Word Count">
         </menu>
          <menu
               id="view"
               label="View"
               mnemonic="V"
               tooltip="View">
         </menu>
          <menu
                id="cluster"
                label="Clustering"
                mnemonic="l"
                tooltip="Clustering">
          </menu>
          <menu
                id="classify"
                label="Classification"
                mnemonic="F"
                tooltip="Classification">
          </menu>
          <menu
                id="topicmodel"
                label="Topic Modeling"
                mnemonic="T"
                tooltip="Topic Modeling">
          </menu>
         
      </menuContribution>
   </extension>
   <!--  Progress View -->
 <extension
         id="progress.view"
         point="org.eclipse.ui.commands">
      <command
            id="usc.edu.cssl.common.progressview.command1"
            name="Progress View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.common.ui.handlers.OpenProgressViewHandler"
            commandId="usc.edu.cssl.common.progressview.command1">
      </handler>
   </extension>
   
   
    <extension
          point="org.eclipse.ui.views">
       <view
             category="org.eclipse.ui"
             class="org.eclipse.ui.ExtensionFactory:progressView"
             icon="icons/pview.gif"
             id="org.eclipse.ui.views.ProgressView"
             name="Progress View"
             restorable="true">
       </view>
    </extension>
    
    <!-- preference page -->
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="edu.usc.cssl.tacit.common.ui.preferencepage.MainPreferencePage"
             id="edu.usc.cssl.tacit.common.ui.preferencepage.tacit"
             name="TACIT">
       </page>
       <page
             category="edu.usc.cssl.tacit.common.ui.preferencepage.tacit"
             class="edu.usc.cssl.tacit.common.ui.preferencepage.PrepocessorSettings"
             id="edu.usc.cssl.tacit.common.ui.prepocessorsettings"
             name="Prepocessor Settings">
       </page>
       <page
             category="edu.usc.cssl.tacit.common.ui.preferencepage.tacit"
             class="edu.usc.cssl.tacit.common.ui.preferencepage.CorpusLocation"
             id="edu.usc.cssl.tacit.common.ui.corpuslocation"
             name="Corpus Management">
       </page>
    </extension>
    <!-- Console View -->
       <!--  Progress View -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:view">
             <command
                   commandId="usc.edu.cssl.common.console.command"
                   icon="icons/console_view.gif"
                   label="Console"
                   tooltip="Console">
            </command>
      </menuContribution>
    <!--  <menuContribution
            locationURI="menu:view">
             <command
                  commandId="usc.edu.cssl.common.preprocess.command"
                  label="Preprocess">
            </command>
      </menuContribution> -->
      <menuContribution 
            locationURI="menu:view">
         <command
               commandId="usc.edu.cssl.common.progressview.command1"
               label="Progress"
               icon="icons/pview.gif"
               tooltip="Progress">
         </command>
      </menuContribution>
   </extension>
 <extension
         id="console.view"
         point="org.eclipse.ui.commands">
      <command
            id="usc.edu.cssl.common.console.command"
            name="Console View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.common.ui.handlers.OpenConsoleViewHandler"
            commandId="usc.edu.cssl.common.console.command">
      </handler>
   </extension>
   
   
    <extension
          point="org.eclipse.ui.views">
       <view
             
             class="edu.usc.cssl.tacit.common.ui.views.ConsoleView"
             icon="icons/console_view.gif"
             id="usc.edu.cssl.common.ui.views.console"
             name="Console View"
             restorable="true">
       </view>
    </extension>
  <!--  <extension
          point="org.eclipse.ui.views">
       <view
             class="edu.usc.cssl.tacit.common.ui.views.PreprocessorView"
             id="edu.usc.cssl.tacit.common.ui.preprocess.view"
             name="Pre-Process"
             restorable="true">
       </view>
    </extension>
    <extension
         id="preprocess.view"
         point="org.eclipse.ui.commands">
      <command
            id="usc.edu.cssl.common.preprocess.command"
            name="PreProcess View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.common.ui.handlers.OpenPreProcessViewHandler"
            commandId="usc.edu.cssl.common.preprocess.command">
      </handler>
   </extension> -->
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.common.ui.corpusmanagement.CorpusManagementView"
            icon="icons/CorpusManagementIcon.png"
            id="edu.usc.cssl.tacit.common.ui.corpusmanagement.view1"
            name="Corpus Management"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:view">
         <command
               commandId="edu.usc.cssl.tacit.common.ui.corpusmanagement.view1"
               icon="icons/CorpusManagementIcon.png"
               label="Corpus Management"
               tooltip="Corpus Management">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="corpusmanagement.view"
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.common.ui.corpusmanagement.view1"
            name="Corpus Management">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.common.ui.handlers.OpenCorpusManagementViewHandler"
            commandId="edu.usc.cssl.tacit.common.ui.corpusmanagement.view1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   
</plugin>
