<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.classify.svm.ui.SVMView"
            icon="icons/SVMClassifierIcon.png"
            id="edu.usc.cssl.tacit.classify.svm.ui.view1"
            name="SVM Classifier">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:classify">
         <command
               commandId="edu.usc.cssl.tacit.classify.svm.ui.view1"
               icon="icons/SVMClassifierIcon.png"
               label="SVM Classifier"
               tooltip="SVM Classifier">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="classify.svm"
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.classify.svm.ui.view1"
            name="SVM Classifier">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.classify.svm.ui.handlers.OpenSVMViewHandler"
            commandId="edu.usc.cssl.tacit.classify.svm.ui.view1">
      </handler>
   </extension>

</plugin>
