<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="NLPUtils"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/edu.usc.cssl.nlputils.application/css/default.css">
         </property>
         <property
               name="appName"
               value="NLPUtils">
         </property>
        <property
           	   name="applicationXMI"
               value="edu.usc.cssl.nlputils.application/Application.e4xmi">
         </property>
      </product>
   </extension>
</plugin>
