<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="edu.usc.cssl.tacit.repository.Perspective"
             id="edu.usc.cssl.tacit.repository.perspective"
             name="TACIT">
       </perspective>
    </extension>
     <extension
           id="product"
           name="TACIT"
           point="org.eclipse.core.runtime.products">
       <product
             application="edu.usc.cssl.tacit.repository.application"
             name="TACIT">
             <property name="introBrandingImage" value="product:icons/icon48.png"/>
		 <property name="introTitle" value="Welcome to TACIT Tool"/>
          <property
                name="appName"
                value="TACIT">
          </property>
          <property
                name="windowImages"
                value="icons/icon16.png,icons/icon32.png,icons/icon48.png,icons/icon64.png,icons/icon128.png,icons/icon256.png">
          </property>
          <property
                name="startupForegroundColor"
                value="FBFFFE">
          </property>
          <property
                name="startupMessageRect"
                value="5,305,502,20">
          </property>
          <property
                name="startupProgressRect"
                value="5,325,502,10">
          </property>
          <property
                name="aboutImage"
                value="icons/icon128.png">
          </property>
          <property
                name="aboutText"
                value="(c) Copyright 2015, University of Southern California. All Rights Reserved.&#x0A;&#x0A;This software is experimental in nature and is provided on an AS-IS basis only. The University SPECIFICALLY DISCLAIMS ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY AS TO MERCHANTIBILITY OR FITNESS FOR A PARTICULAR PURPOSE.&#x0A;&#x0A;This software may be reproduced and used for non-commercial purposes only, so long as this copyright notice is reproduces with each such copy made.">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
       </product>
    </extension>
 <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.usc.cssl.tacit.repository.Application">
         </run>
      </application>
   </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="edu.usc.cssl.tacit.repository.perspective">
       <view
             id="edu.usc.cssl.tacit.crawlers.supremecourt.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.tacit.crawlers.latin.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.tacit.wordcount.weighted.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.tacit.cluster.hierarchical.ui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
       <view
             id="edu.usc.cssl.tacit.common.ui.preprocess.view"
             minimized="false"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
        <view
             id="edu.usc.cssl.tacit.cluster.kmeansui.view1"
             minimized="true"
             relationship="stack"
             relative="org.eclipse.ui.editorss"
             visible="false">
       </view>
        <view
              id="edu.usc.cssl.tacit.classify.naivebayes.ui.naivebayesview"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.tacit.classify.svm.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.tacit.topicmodel.zlda.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.tacit.topicmodel.lda.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        <view
              id="edu.usc.cssl.tacit.wordcount.standard.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        
         <view
              id="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.view1" minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
         <view
               id="edu.usc.cssl.tacit.crawlers.uscongress.ui.uscongresscrawlerview"
               minimized="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         <view
               id="edu.usc.cssl.tacit.crawlers.reddit.ui.redditview"
               minimized="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         
          <view
               id="edu.usc.cssl.tacit.crawlers.twitter.ui.view1"
               minimized="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         
          <view
                id="edu.usc.cssl.tacit.common.ui.corpusmanagement.view1"
                minimized="true"
                relationship="stack"
                relative="org.eclipse.ui.editorss"
                visible="false">
          </view>
          
          <view
              id="edu.usc.cssl.tacit.crawlers.stackexchange.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
        
         <view
              id="edu.usc.cssl.tacit.crawlers.wikipedia.ui.view1"
              minimized="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              visible="false">
        </view>
    </perspectiveExtension>
 </extension>
 
  <extension
         point="org.eclipse.ui.installationPages">
          <page
            name="Installed Software Page"
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="10.org.eclipse.equinox.p2.examples.rcp.cloud.InstalledSoftwarePage">
          </page>
          <page
            name="Installed Software History"
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="11.org.eclipse.equinox.p2.examples.rcp.cloud.RevertProfilePage">
          </page>
    </extension>
</plugin>
