<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
 
      <view
            name="LDA Topic Model"
            class="edu.usc.cssl.nlputils.topicmodel.lda.ui.LdaTopicModelView"
            id="edu.usc.cssl.nlputils.topicmodel.lda.ui.view1">
      </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:topicmodel">
             <command
                   commandId="edu.usc.cssl.nlputils.topicmodel.lda.ui.view1"
                   label="LDA"
                   tooltip="LDA">
            </command>
      </menuContribution>
   </extension>
 <extension
         id="wordcount.weighted"
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.nlputils.topicmodel.lda.ui.view1"
            name="LDA Topic Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.nlputils.topicmodel.lda.ui.handlers.OpenLdaTopicModelViewHandler"
            commandId="edu.usc.cssl.nlputils.topicmodel.lda.ui.view1">
      </handler>
   </extension>
   

</plugin>
