<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.crawlers.wikipedia.ui.WikipediaCrawlerView"
            icon="icons/wikipedia.png"
            id="edu.usc.cssl.tacit.crawlers.wikipedia.ui.view1"
            name="WikipediaCrawler">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:crawl">
         <command
               commandId="edu.usc.cssl.tacit.crawlers.wikipedia.ui.command1"
               icon="icons/wikipedia.png"
               label="Wikipedia Crawler"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.crawlers.wikipedia.ui.command1"
            name="Wikipedia Crawler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.crawlers.wikipedia.ui.handlers.WikipediaViewHandler"
            commandId="edu.usc.cssl.tacit.crawlers.wikipedia.ui.command1">
      </handler>
   </extension>

</plugin>
