<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
 
      <view
            name="Cooccurrence Analysis"
            class="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.CooccurrenceWordCountView"
            id="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.view1">
      </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:wordcount">
             <command
                   commandId="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.view.command1"
                   label="Co-occurrence Analysis"
                   tooltip="Cooccurrence Analysis">
            </command>
      </menuContribution>
   </extension>
 <extension
         id="wordcount.weighted"
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.view.command1"
            name="Cooccurrence Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.handlers.OpenCooccurrenceWordCountViewHandler"
            commandId="edu.usc.cssl.tacit.wordcount.cooccurrence.ui.view.command1">
      </handler>
   </extension>
   

</plugin>
