/************************************************************
 * NLPUtils application CSS File							*
 * To make UI changes in the application, modify this file.	*
 * Changes in this file require application restart   	    *
 ************************************************************/

Label {
	font:"Verdana" 12px;
 	color: black;
}
Composite Label {
 	color: black;
}
Text {
	font:"Verdana" 11px;
	color:#CCCCCC; 
}
.bold_Text{
	font-weight:bold;
}
.heading_text{
	font-size: 12;
}
Button{
	border-visible:false;
	cursor:pointer;
}
.default_button{
	margin-top:2%;
}
Composite Text {
	background-color: white;
	color: black;
}

SashForm {
	background-color: blue;
}
.MTrimBar {
	background-color: #808080;
	z-index:999;
	color: #FFFFFF;
	font: Verdana 8px;
	border-visible:false;
}
Shell {
	background-color: #FFFFFF;
	border-visible:false;
	color: #FFFFFF; 
}
.MPartStack{
      background-color: #FFFFFF;
      border-visible:false;
}
.MPartSashContainer{
	background-color: #808080;
	border-visible:false;
	color: #FFFFFF;    
}
