<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.classify.id3.ui.Id3View"
            id="edu.usc.cssl.tacit.classify.id3.ui.view1"
            name="C4.5 Decision Trees">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.classify.id3.ui.treevisualization.TreeVisualization"
            id="edu.usc.cssl.tacit.classify.id3.ui.treevisuals"
            name="Tree View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.classify.id3.ui.handlers.Id3ViewHandler"
            commandId="edu.usc.cssl.tacit.classify.id3.ui.command1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.classify.id3.ui.command1"
            name="C4.5 Decision Trees">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:classify">
         <command
               commandId="edu.usc.cssl.tacit.classify.id3.ui.command1"
               icon="icons/TACITId3Icon.png"
               label="C4.5  Decision Tree Classifier"
               style="push"
               tooltip="ID3 Classifier">
         </command>
      </menuContribution>
   </extension>

</plugin>
