<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.crawlers.uscongress.ui.UsCongressCrawlerView"
            icon="icons/uscongress.png"
            id="edu.usc.cssl.tacit.crawlers.uscongress.ui.uscongresscrawlerview"
            name="US Congress Crawler"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:crawl">
         <command
               commandId="edu.usc.cssl.tacit.crawlers.uscongress.ui.uscongresscrawlerview"
               icon="icons/uscongress.png"
               label="US Congress Crawler"
               style="push"
               tooltip="US Congress Crawler">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.crawlers.uscongress.ui.uscongresscrawlerview"
            name="US Congress Crawler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.crawlers.uscongress.ui.handlers.UsCongressCrawlerViewHandler"
            commandId="edu.usc.cssl.tacit.crawlers.uscongress.ui.uscongresscrawlerview">
      </handler>
   </extension>

</plugin>
