<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.usc.cssl.tacit.crawlers.senate.ui.SenateCrawlerView"
            icon="icons/senate.png"
            id="edu.usc.cssl.tacit.crawlers.senate.ui.senatecrawlerview"
            name="Senate Crawler"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:crawl">
         <command
               commandId="edu.usc.cssl.tacit.crawlers.senate.ui.senatecrawlerview"
               icon="icons/senate.png"
               label="Senate Crawler"
               style="push"
               tooltip="Senate Crawler">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.usc.cssl.tacit.crawlers.senate.ui.senatecrawlerview"
            name="Senate Crawler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.usc.cssl.tacit.crawlers.senate.ui.handlers.SenateCrawlerViewHandler"
            commandId="edu.usc.cssl.tacit.crawlers.senate.ui.senatecrawlerview">
      </handler>
   </extension>

</plugin>
